# Unity (básico)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/

# Firebase Unity native binaries (pesados, rompen GitHub)
Assets/Firebase/Plugins/x86_64/*.bundle
Assets/Firebase/Plugins/x86_64/*.so
