# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]ser[Ss]ettings/
obj/
.vs/

# Firebase native plugins (too large for GitHub)
Assets/Firebase/Plugins/**/x86_64/*.so
Assets/Firebase/Plugins/**/x86_64/*.bundle
Assets/Firebase/Plugins/**/x86_64/*.dll

# If you use builds:
[Bb]uild/
[Bb]uilds/
